<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxc.dao.ArticleMapper">
    <resultMap id="articleMap" type="com.xxc.bean.Article">
        <!--通过类型转换器将blob类型转化为String类型-->
        <result column="content" property="content" typeHandler="com.xxc.util.ConvertBlobTypeHandler"/>
        <result column="categoryId" property="categoryId"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="statue" property="statue"/>
        <result column="author" property="author"/>
        <result column="createTime" property="createTime"/>
        <result column="showCount" property="showCount"/>
    </resultMap>

    <insert id="addArticle" parameterType="com.xxc.bean.Article" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into myblog.t_article(categoryId, title, content, description, statue, author, createTime)
        values (#{categoryId}, #{title}, #{content}, #{description}, #{statue}, #{author}, #{createTime})
    </insert>

    <select id="getArticleById" parameterType="int" resultMap="articleMap">
        select a.*,c.categoryName
        from myblog.t_article a,myblog.t_category c
        where a.categoryId = c.id and a.id = #{id}
    </select>

</mapper>