<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxc.dao.ArticleTagMapper">
    <insert id="addArticleTag" parameterType="com.xxc.bean.ArticleTag">
        insert into myblog.t_article_tag
        values (#{articleId},#{tagId})
    </insert>

    <select id="getArticleTags" resultType="int" parameterType="int">
        select tagId from myblog.t_article_tag where articleId = #{articleId}
    </select>
</mapper>